:root {
    --white: #FFF;
    --off-white: #F3F9FA;
    --seafoam: #CEF7E7;
    --dark-teal: #335563;
    --blue-grey: #4D6C72;
    --dark-blue: #191A34;
}

.view-wrapper{
    width: 1920px;
    height: 1080px;
    position: relative;
    overflow: hidden;
    outline: 5px solid black;
}

img {
    position: absolute;
    z-index: 1;
    width: 1920px;
    height: 1080px;
}

.page-wrapper{
    position: relative;
    width: 1920px;
    height: 2700px;
    background: linear-gradient(180deg, var(--off-white) 0%, var(--seafoam) 40%, var(--blue-grey) 60%, var(--dark-blue) 100%);
}

.bubble{
    width: 10px;
    position: absolute;
}